<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.revature.laundr_o_matic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Apartmentlaundryapp">


        <activity
            android:name=".CurrentMachine"
            android:exported="false"
            android:label="@string/title_activity_current_machine"
            android:theme="@style/Theme.Apartmentlaundryapp" />
        <activity
            android:name=".UpcomingReservation"
            android:exported="false"
            android:label="@string/title_activity_upcoming_reservation"
            android:theme="@style/Theme.Apartmentlaundryapp" />
        <activity
            android:name=".MissedReservation"
            android:exported="false"
            android:label="@string/title_activity_missed_reservation"
            android:theme="@style/Theme.Apartmentlaundryapp" />
        <activity
            android:name=".CurrentMachines"
            android:exported="false"
            android:label="@string/title_activity_current_machines.kt"
            android:theme="@style/Theme.Apartmentlaundryapp" />

        
        <activity
            android:name="com.revature.laundr_o_matic.TestingFeatures"
            android:exported="false"
            android:label="@string/title_activity_testing_features"
            android:theme="@style/Theme.Apartmentlaundryapp" />
        <activity
            android:name="com.revature.laundr_o_matic.RegistrationSuccessful"
            android:exported="false"
            android:label="@string/title_activity_registration_successful"
            android:theme="@style/Theme.Apartmentlaundryapp" />
        <activity
            android:name="com.revature.laundr_o_matic.Registration"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Apartmentlaundryapp" />
        <activity
            android:name="com.revature.laundr_o_matic.MainActivity"
            android:exported="true"/> 
  
             <activity

            android:name=".ReservationSuccessful"
            android:exported="false"
            android:label="@string/title_activity_reservation_successful"
            android:theme="@style/Theme.Apartmentlaundryapp" />
        <activity
            android:name=".ReservationTime"
            android:exported="false"
            android:label="@string/title_activity_reservation_time"
            android:theme="@style/Theme.Apartmentlaundryapp" />
        <activity
            android:name=".MachineDetails"
            android:exported="false"
            android:label="@string/title_activity_machine_details"
            android:theme="@style/Theme.Apartmentlaundryapp" />
        <activity
            android:name=".MachineReservation"
            android:exported="false"
            android:label="@string/title_activity_machine_reservation"
            android:theme="@style/Theme.Apartmentlaundryapp" />
        <activity
            android:name=".WalletActivity"
            android:exported="false"
            android:label="@string/title_activity_wallet"
            android:theme="@style/Theme.Apartmentlaundryapp" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_user_profile"

            android:theme="@style/Theme.Apartmentlaundryapp" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="true"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/Theme.Apartmentlaundryapp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>